<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:gfe="http://www.springframework.org/schema/gemfire"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"

       xsi:schemaLocation="
	   	http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/gemfire https://www.springframework.org/schema/gemfire/spring-gemfire.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd"
       profile="local">
    <context:property-placeholder
            location="classpath*:application-local.properties"/>

    <context:component-scan base-package = "io.pivotal" />
    <mvc:resources mapping="/resources/**" location="/resources/"/>
   <!-- <mvc:default-servlet-handler/>-->

    <bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name = "prefix" value = "/WEB-INF/views/" />
        <property name = "suffix" value = ".jsp" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${spring.datasource.driver-class-name}" />
        <property name="url" value="${spring.datasource.url}"></property>
        <property name="username" value="${spring.datasource.username}"></property>
        <property name="password" value="${spring.datasource.password}"></property>
    </bean>

    <jdbc:initialize-database data-source="dataSource" ignore-failures="DROPS">
        <jdbc:script location="classpath:schema.sql" />
        <jdbc:script location="classpath:customerData.sql" />
        <jdbc:script location="classpath:bookData.sql" />
    </jdbc:initialize-database>

    <!-- tag::beans[] -->
    <context:annotation-config/>

   <!-- <bean class="io.pivotal.cloudcache.ClientServerReadyBeanPostProcessor"/>-->

    <!--1-->
    <util:properties id="gemfireProperties">
        <prop key="log-level">${spring.session.data.geode.log-level:error}</prop>
    </util:properties>

    <!--2-->
    <gfe:client-cache properties-ref="gemfireProperties" pool-name="gemfirePool"/>

    <!--3-->
    <gfe:pool ping-interval="5000" read-timeout="15000" retry-attempts="1" subscription-enabled="true">
        <gfe:server host="${application.geode.client-server.host}"
                    port="${spring.session.data.geode.cache.server.port:${application.geode.client-server.port:40411}}"/>
    </gfe:pool>

    <!--4-->
    <bean class="org.springframework.session.data.gemfire.config.annotation.web.http.GemFireHttpSessionConfiguration"
          p:maxInactiveIntervalInSeconds="30" p:poolName="DEFAULT">
    </bean>
    <bean id="defaultCookieSerializer" class="org.springframework.session.web.http.DefaultCookieSerializer">
        <property name="cookieName" value="APP_SESSION_ID" />
        <property name="cookiePath" value="/"></property>
    </bean>
    <bean id="cookieHttpSessionIdResolver" class="org.springframework.session.web.http.CookieHttpSessionIdResolver">
        <property name="cookieSerializer" ref="defaultCookieSerializer" />
    </bean>
    <!-- end::beans[] -->


    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
            <bean class="org.springframework.http.converter.StringHttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

</beans>